:8080 {

	handle /* {
		file_server browse
	}

	handle /apidocs/* {
		file_server browse
		header      Cache-Control no-cache
		root *      ../
	}

	handle /docs/* {
		file_server browse
		header      Cache-Control no-cache
		root *      ../
	}

	handle /playground/* {
		file_server browse
		header      Cache-Control no-cache
		root *      ../
	}

	handle /lib/* {
		file_server browse
		header      Cache-Control no-cache
		root *      ../
	}
}